table, th, td {
  border: 1px solid;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 2px 10px;
}

.disclaimer .examples ul li span {
    font-weight: bold;
    cursor: pointer;
    color: #0000EE;
}

.disclaimer .examples ul li span:hover {
    text-decoration: underline;
}

.controls .submit-btn-wrapper {
    margin-top: 10px;
}

.controls .search-term-wrapper {
    margin-top: 5px;
}

#results-holder div {
    display: inline-block;
    vertical-align: top;
}

#results-table {
    border-spacing: 5px;
    display: block;
    max-height: 600px;
    overflow-y: scroll;
    margin-top: 13px;
}

#results-table tbody tr:hover {
    background-color: #e87127;
}

.results-number {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}