.disclaimer .examples ul li span {
    font-weight: bold;
    cursor: pointer;
    color: #0000EE;
}

.disclaimer .examples ul li span:hover {
    text-decoration: underline;
}

.controls .submit-btn-wrapper {
    margin-top: 10px;
}

.controls .search-term-wrapper {
    margin-top: 5px;
}

#results-holder div {
    display: inline-block;
    vertical-align: top;
}

#results-table {
    border-collapse: separate;
    border-spacing: 5px;
    display: block;
    height: 600px;
    overflow-y: scroll;
}