<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <script src="/js/lib/d3-3.5.3.min.js"></script>
    <script src="/js/lib/topojson-1.6.9.min.js"></script>
    <script src="/js/lib/datamaps-0.4.4.world.min.js"></script>
    <script src="/js/lib/datamaps.ukr.js"></script>
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h3>Для пошуку використовується синтаксис регулярних виразів</h3>
    <h3>Приклади:</h3>
    <div>Одеса - в назві міститься слово "Одеса"</div>
    <div>^Олек. - населені пункти, назва яких починається з "Олек"</div>
    <div>.вка$ - населені пункти, назва яких закінчується на "вка"</div>
    <div>.том. - в назві міститься буквосполучення "том" оточене іншими літерами</div>
    <div id="controls">
      <p>
          <label for="settlement_name_regex">Regex:</label>
          <input id="settlement-name-regex" type="text" name="settlement_name_regex" value="">
      </p>
      <p>
          <input id="submit-btn" type="submit">
      </p>
    </div>
    <div id="container" style="position: relative; width: 1000px; height: 600px;"></div>

    <script src="/js/main.js"></script>
</body>
</html>
