<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/d3-3.5.3.min.js"></script>
    <script src="/js/lib/topojson-1.6.9.min.js"></script>
    <script src="/js/lib/datamaps-0.4.4.world.min.js"></script>
    <script src="/js/lib/datamaps.ukr.js"></script>
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="disclaimer">
        <h3>Для пошуку використовується синтаксис регулярних виразів.</h3>
        <div class="examples">
            <h3>Приклади запитів:</h3>
            <ul>
                <li><span>том</span> - в назві міститься буквосполучення "том" в будь-якому місці (початок слова/середина/кінець)</li>
                <li><span>.том.</span> - в назві міститься буквосполучення "том" оточене іншими літерами (тільки середина слова)</li>
                <li><span>^дз</span> - назва починається з "дз"</li>
                <li><span>ин$</span> - назва закінчується на "ин"</li>
                <li><span>.* .*</span> - назва з двох слів</li>
                <li><span>.* .*вк</span> - назва з двох слів, друге з яких має містить буквосполучення "вк"</li>
            </ul>

        </div>
    </div>

    <div id="controls" class="controls">
        <div>
            <label for="settlement_name_regex">Пошуковий запит:</label>
        </div>
        <div class="search-term-wrapper">
            <input id="settlement-name-regex" type="text" name="settlement_name_regex" value="">
        </div>
        <div class="submit-btn-wrapper">
            <input id="submit-btn" type="submit" value="Пошук">
        </div>
    </div>
    <div id="results-holder">
        <div id="container" style="position: relative; width: 900px; height: 600px;"></div>
        <div id="table-wrapper">
            <div class="results-number"></div>
            <table id="results-table" style="display: none">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>lat</th>
                        <th>lon</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>
