<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h3>Для пошуку використовується синтаксис регулярних виразів</h3>
    <h3>Приклади:</h3>
    <div>Одеса - в назві міститься слово "Одеса"</div>
    <div>^Олек. - населені пункти, назва яких починається з "Олек"</div>
    <div>.вка$ - населені пункти, назва яких закінчується на "вка"</div>
    <div>.том. - в назві міститься буквосполучення "том" оточене іншими літерами</div>
    <form action="" method="post">
        <p>
            <label for="settlement_name_regex">Regex:</label>
            <input type="text" name="settlement_name_regex" value="{{ settlement_name_regex }}">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    {% if settlement_ids is defined and settlement_ids|length > 0 %}
        <img src="/plot.png?settlement_ids={{ settlement_ids }}">
    {% endif %}

    {% if settlements is defined and settlements|length > 0 %}
        <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>lat</th>
                <th>lon</th>
            </tr>
        </thead>
        {% for settlement in settlements %}
        <tbody>
            <tr>
                <td>{{ settlement.id }}</td>
                <td>{{ settlement.name['uk'] }}</td>
                <td>{{ settlement.lat }}</td>
                <td>{{ settlement.lng }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        {% if settlement_name_regex is defined and settlement_name_regex|length > 0 %}
            <div>Не знайдено результатів за запитом {{ settlement_name_regex }}</div>
        {% endif %}
    {% endif %}

</body>
</html>